.botao-adicionar {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 30px auto;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.pagamento {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.pagamento-nome {
    font-weight: bold;
    font-size: 16px;
    color: #f5f5f5;
}

.pagamento-taxa {
    font-size: 15px;
    color: #bdbdbd;
}